<p>datalist works!</p>
<button mat-raised-button (click)="sayHello()">Basic</button>
<div>
    {{ text }}
</div>
<div>
    {{ date | date:'dd.MM.yyyy'}}
</div>
<div *ngFor="let item of data"> 
    {{ item.name }}
</div>

<table mat-table [dataSource]="data" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
<div style="padding-top: 20px;">
    <form
        (ngSubmit)="save(personForm.value)"
        [formGroup]="personForm!"
        class="app-form"
    >
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput required maxlength="255" formControlName="name"/>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput formControlName="age"/>
        </mat-form-field>

        <button
            [disabled]="!personForm.valid"
            color="primary"
            mat-raised-button
            style="width: 200px;"
        >
            Save
        </button>

    </form>
</div>
  

